USE [master]
GO
/****** Object:  Database [LeaveManagement]    Script Date: 11/29/2016 1:01:07 AM ******/
CREATE DATABASE [LeaveManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LeaveManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LeaveManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LeaveManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveManagement]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/29/2016 1:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserName] [nchar](10) NOT NULL,
	[Password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Admin_1] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employe]    Script Date: 11/29/2016 1:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[EmpID] [int] NOT NULL,
	[EmpName] [nchar](25) NULL,
	[EmpUserName] [nchar](20) NULL,
	[EmpPassword] [nchar](20) NULL,
	[EmpEmail] [nchar](20) NULL,
	[EmpPhoneNo] [nchar](15) NULL,
	[EmpAddress] [nchar](50) NULL,
 CONSTRAINT [PK_Employe] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Issue]    Script Date: 11/29/2016 1:01:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue](
	[EmpID] [int] NULL,
	[IssueStartDate] [nchar](30) NULL,
	[IssueEndDate] [nchar](30) NULL,
	[IssueStatus] [nchar](10) NULL,
	[IssueDescription] [nchar](50) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Issue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Employe] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employe] ([EmpID])
GO
ALTER TABLE [dbo].[Issue] CHECK CONSTRAINT [FK_Issue_Employe]
GO
USE [master]
GO
